<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>品牌合作协议</title>
<style>
body {
	font-family: SimSun;
	font-size: 15px;
	line-height: 25px;
	word-break: break-all;
}

body, p, h1, h2, h3, h4, h5, h6, ul, li {
	padding: 0px;
	margin: 0px;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1, h2 {
	text-align: center;
	padding: 20px 0;
}

.pdt20 {
	padding: 20px 0;
}

p {
	text-indent: 2em;
}

p.both-sign {
	text-indent: 0em;
}

p.both-sign span {
	display: inline-block;
	width: 45%;
}

.ta-center {
	text-align: center;
}

p.unindent {
	text-indent: 0em;
}

div.header {
	display: block;
	text-align: center;
	position: running(header);
}

div.footer {
	display: block;
	text-align: center;
	position: running(footer);
}

div.content {
	page-break-after: always;
}
p.catalogued{
	text-indent: 0em;
	border-bottom: 2px #666 dotted;
	height: 16px;
	margin-bottom: 7px;
}
p.catalogued .title{
	background: #fff;
	position: absolute;
	left:0;
}
p.catalogued .index{
	background: #fff;
	position: absolute;
	right:0;
}

@page { @top-center { 
	content:element(header)
}}
@page { @bottom-center { 
	content:element(footer)
}}
</style>
</head>
<body>
	<!-- 
          	<div class='header'>Header</div>
          	<div class='footer'>Footer</div>
 			-->
	<div class='content'>
		<h3 class="ta-center">上海金鹿金融信息服务有限公司</h3>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p class="ta-center unindent">“甲方”</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p class="ta-center unindent">与</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h3 class="ta-center unindent">${partybName!}</h3>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p class="ta-center unindent">“乙方”</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p class="ta-center unindent">之</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h1>合作协议</h1>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h2>（经纪会员V3.0版）</h2>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h2>（本版本仅供合作方参考，内容以双方签订的最终协议版本为准）</h2>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h1>合作协议</h1>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p class="unindent">甲方：${partyaName!}</p>
		<p>&nbsp;</p>
		<p class="unindent">地址：${partyaAddress!}</p>
		<!-- <p>&nbsp;</p>
		<p class="unindent">法定代表人：${partyaRepresentative!}</p> -->
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p class="unindent">乙方：${partybName!}</p>
		<p>&nbsp;</p>
		<p class="unindent">地址：</p>
		<!-- <p>&nbsp;</p>
		<p class="unindent">法定代表人：</p> -->
		<p>本协议由以上双方于 ${startDate!} 在 上海 签署：</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p class="unindent">鉴于：</p>
		<p>1.甲方是一家依据中国正式颁布的法律设立并合法存续的有限责任公司，是“易联天下”平台的所有者和经营者，有签订并履行本协议的资质。</p>
		<p>2.乙方是一家依据中国正式颁布的法律设立并合法存续的有限责任公司，具备为其他平台引入资金、资产的能力，有签订并履行本协议的资质。</p>
		<p>乙方自愿成为甲方的经纪会员，为甲方推荐优质的资产和合格的资金，经双方商定，甲方授权乙方开展“易联天下”平台引入资金、资产的合作业务。</p>
		<p>为充分发挥各自的优势，经友好协商，并依据中华人民共和国有关法律法规的要求，针对“易联天下”平台引入资金、资产的合作事宜达成一致，并签订协议如下：</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h2>第一章 总 则</h2>
		<h3 class="retract">1.1 释义</h3>
		<p>
			“本协议”是指本《合作协议》及本《合作协议》载明的附件和从协议，也包括甲方与乙方以后可能就协议内容达成的补充协议等；
		</p>
		<p>
			“资产出让方”也叫资产方，是指乙方推荐的资产合法所有者，且自愿将所有的资产通过甲方“易联天下”平台出让以获得融资的资产出让方；
		</p>
		<p>
			“投资客户”也叫资金方，是指乙方推荐的，最终受让资产出让方资产的投资者；
		</p>
		<p>
			“标的资产”指资产出让方所有的合法有效的，可供转让的资产（包括但不限于未到期的债权、收益权或者其他投资产品等）。
		</p>
		<p>
			“咨询服务费”也叫融资管理费，资产方通过甲方平台实现融资需求后，资产方应当向甲方支付的咨询服务费用；
		</p>
		<p>
			“费用”资产出让方通过甲方平台实现融资需求所应承担的融资成本；
		</p>
		<p>
			“佣金”乙方推荐的资金或资产方与甲方或者甲方提供居间服务的另一方签订最终的协议，且乙方推荐的资金方成功付款或资产方收到第一笔融资款后，甲方应当向乙方支付的佣金报酬；
		</p>
		<p>
			“标识”是指与甲方金融资产交易体系相关的识别符号，包括但不限于商标、企业名称等特有的文字及图形；
		</p>
		<p>
			“商标”是指甲方或乙方所有或拥有使用权的经中华人民共和国国家工商行政管理总局商标局核准注册的图形及字符；
		</p>
		<p>
			“商业秘密”指双方予以保密的信息、文件、资料及其他任何经营资源，包括但不限于各种客户信息、操作流程等；
		</p>
		<p>
			“保密人”包括但不限于甲乙双方的关联公司、分支机构、子公司，也包括乙方推荐的资产出让方及投资客户。
		</p>

		<h3 class="retract">1.2 乙方承诺</h3>
		<p>1.2.1 乙方在本协议中承担的义务是合法、有效的，其履行不会与其承担的其他协议义务相冲突，也不会违反中国的法律、法规和其作为协议的一方的或对其有约束力的其他协议；</p>
		<p>1.2.2 完全接受甲方平台的管理体系及管理规定；</p>
		<p>1.2.3 未经甲方批准，不允许其他合作方使用甲方品牌开展资产交易业务；</p>
		<p>1.2.4 不私自以甲方的名义与第三方开展业务；</p>
		<p>1.2.5 不侵犯甲方名誉的其他行为;</p>

		<h3 class="retract">1.3 乙方的法律地位</h3>
		<p>1.3.1 乙方以自身名义，自付费用，作为独立的法律主体进行其经营活动，自负盈亏；</p>
		<p>1.3.2 乙方不是甲方的代理人、代表人，也不是甲方的雇员或合伙人；乙方无权以甲方的名义签订协议，使甲方在任何方面对第三方承担责任，或由甲方承担费用或其他任何义务；</p>
		<p>1.3.3 乙方须保证法律主体符合法律、法规关于经营资格的强制性或禁止性要求，取得诸如《营业执照》、《税务登记证》《组织机构代码证》等，上述相关材料复印件应加盖企业公章后作为协议（附件一）向甲方备案；甲方可以在不影响乙方正常经营的情况下对乙方进行包括但不限于现场尽职调查等活动，乙方应积极配合并提供相关信息资料。</p>

		<h2>第二章 合作内容</h2>
		<p>2.1 乙方作为甲方的经纪会员，根据本协议的规定，向资金或资产方推广、宣传甲方及甲方易联天下品牌和平台，促使其将资金在“易联天下”平台投资或将资产投放至“易联天下”平台进行融资;</p>
		<p>2.2 经乙方推广的资金方或资产方将资金或标的资产投放至“易联天下”，并成功交易的，视为乙方居间成功。</p>
		<p>2.3 资金、资产方的权利义务以甲方或者甲方提供居间推荐服务的相关合作机构与资金、资产方签订的协议为准。</p>


		<h2>第三章 权利义务</h2>
		
		<h3 class="retract">3.1 甲方权利和义务：</h3>
		<p>3.1.1甲方应提供必要的业务和技术支持，以协助乙方顺利将合格的资金方和优质的资产方引入“易联天下”平台。</p>
		<p>3.1.2对于乙方推荐的资产方如遇逾期或坏账问题，甲方有权力要求乙方解决。</p>
		<p>3.1.3甲方有权在资产出让方获得的融资额中直接扣除融资成本。</p>
		<p>3.1.4对于乙方推荐的资金方，如遇到资金问题，甲方有权利要求乙方解决。</p><br/>
		
		<h3 class="retract">3.2 乙方权利和义务</h3>
		<p>3.2.1 乙方推荐资产方</p>
		<p>3.2.1.1 乙方在把资产方引入“易联天下”平台前，需对资产方提供的标的资产进行风险评估和把控，督促资产方积极提供材料，确保材料真实有效。</p>
		<p>3.2.1.2 乙方保证其所推荐的资产方自愿将标的资产通过甲方居间服务转让给第三方或者通过甲方居间服务由第三人投资购买；</p>
		<p>3.2.1.3 乙方保证其所推荐的标的资产真实合法有效，且属资产出让方的合法资产，并可以依法转让，未被质押或设置其他权利负担、未被设定信托或转让给任何第三方等任何权利瑕疵，甲方有权对乙方推荐的标的资产进行审查，但甲方对标的资产的真实性不承担任何责任，如因标的资产引起的纠纷由乙方承担。若对于乙方推荐资产出让方出现回购逾期或坏账问题，乙方应当承担连带责任。</p>
		<p>3.2.1.4 乙方承诺已明确告知资产方，非因甲方原因（如第三方支付机构、银行等原因），造成资产方无法及时收到融资款的，甲方不承担任何责任。若乙方未履行告知义务，导致甲方向相关方承担责任的，则乙方应赔偿甲方的经济损失。</p>
		<p>3.2.1.5 乙方已获得资产方的授权，以乙方的名义全权处理资产方在甲方平台融资的相关事宜（包括但不限于保证资产质量、认可融资成本、支付融资成本等）</p>
		<p>3.2.1.6 乙方对资产方应承担的义务承担连带责任。</p><br/>
		
		<h3 class="retract">3.2.2 乙方推荐资金方</h3>
		<p>3.2.2.1 乙方在把资金引入“易联天下”平台前， 保证推荐的资金方的资金来源合法及投资客户信息的准确性、真实性、完整性、有效性；</p>
		<p>3.2.2.2 乙方提交给甲方的投资客户资料及订单信息或其他相关材料均由乙方已完成验证和实质性审核工作且均获得投资客户的完全认可和授权；</p>
		<p>3.2.2.3 乙方已向投资客户披露风险提示书；</p>
		<p>3.2.2.4 乙方已取得投资客户的《电子签名委托书》，获得投资客户签字或盖章的授权；</p><br/>
		
		
		<p>3.2.3 乙方承诺，在推广甲方“易联天下”平台时遵守平台规则和操作流程，并守甲方不时公布的相关管理规则和运行中的技术和非技术规定。</p>
		<p>3.2.4 乙方承诺若未经甲方书面同意，将其推荐的资金、资产方与甲方推荐的相关方达成交易，且未经过甲方平台的，视为乙方违约，应当向甲方支付100万元违约金，违约金无法弥补甲方损失的，乙方应当另行向甲方承担赔偿责任。</p>
		<p>3.2.5 乙方不得利用本合作业务从事侵害他人合法权益、社会公共利益之行为，否则应承担所有相关法律责任。不得从事不法交易行为（包括但不限于涉黄、涉赌、涉毒、洗钱性质之交易等）。</p>
		
		<h2>第四章 协议有效期限</h2>
		<p>4.1 本协议有效期为 ${startDate!} 至  ${endDate!}。 </p>
		<p>4.2 如需续签，双方应在本协议期满前2个月内续签，并另行订立协议。</p>

		<h2>第五章  佣金和费用</h2>
		<p>5.1 乙方推荐的资金或资产方与甲方或者甲方提供居间服务的另一方签订最终的协议，且乙方推荐的资金方成功付款或资产方收到第一笔融资款，视为乙方推荐成功。</p>
		<p>5.2 乙方推荐成功后，甲方应当向乙方支付佣金，具体费用按甲方平台计取，具体费用见附件二，双方有其他约定的除外。</p>
		<p>5.3 若乙方推荐的资产方在甲方平台获得融资，则资产方应承担的融资成本为回购利息加融资管理费以及融资交易费；</p>
		<p>&nbsp;&nbsp;&nbsp;融资成本=回购利息+融资管理费+融资交易费。</p>
		<p>&nbsp;&nbsp;&nbsp;乙方已获得资产方的授权，要求将上述融资成本在融资款到帐后1个工作日内由甲方直接扣除。</p>
		<p>5.4 甲方、乙方、资产、资金方各自承担项目运营成本及税费。</p>

		<h2>第六章 知识产权</h2>
		<p>6.1 甲乙双方通过签订本协议视为互相授权对方为本协议目的，在广告宣传、用户引导等合理范围内无偿使用对方公司名称、LOGO等，但须事先经过对方的同意和审核，且该项使用不视为知识产权的任何转让，使用不得超出本协议的合作范围。</p>
		<p>6.2 双方方进行广告宣传时使用甲方商标的包括但不限于图形、文字，在宣传前应交对方审核同意后方可进行宣传。双方禁止未经对方同意使用对方商标图形及文字等标识通过网络、实体进行宣传。</p>
		
		<h2>第七章 保密条款</h2>
		<p>7.1 本协议及双方提供的所有材料只能用于本协议的履行，甲乙双方应将对方提供的资料视为机密文件（包括但不限于客户商业信息），任何一方未经对方许可不得向任何第三人泄露，法律规定或相关部门要求必须公开的除外。</p>
		<p>7.2 甲乙双方应对推荐客户的相关信息加以严格保密，并确保各自的员工、董事、关联方和对其进行协助的专业机构对之也加以严格保密。</p>
		<p>7.3 双方同意对本次合作涉及的所有结算价格、以及其他的敏感信息，应严格保守秘密，如因某一方的责任导致上述信息泄露，责任方应承担所有的赔偿责任。</p>
		<p>7.4 双方在协议期内及协议终止后的一段时间内均应遵守保密条款的规定，直到一方宣布解密或者秘密信息实际已经公开。</p>

		<h2>第八章  协议的履行</h2>
		<p>8.1 甲、乙双方应当按照协议约定全面履行各自的义务，遵循诚实信用原则，根据协议的性质、目的和习惯履行、通知、协助、保密等义务；</p>
		<p>8.2 具体合作项目进行期间，所有与项目有关的的交流、对话、协议、成交等均需甲乙双方共同进行或在对方知晓的前提下进行，在另一方不知晓的情况下，任何一方不得单独对外签订任何协议与达成任何交易。</p>

		<h2>第九章  协议的解除</h2>
		<p>9.1 乙方有下列行为、情形之一的甲方有权单方解除，解除协议的决定在通知到达乙方时生效：</p>
		<p>9.1.1 未按本协议约定履行义务；</p>
		<p>9.1.2 无正当理由拖欠甲方费用，经甲方催告后仍不支付的；</p>
		<p>9.1.3 在协议期间乙方或其法定代表人、负责人涉嫌刑事犯罪；</p>
		<p>9.1.4 在协议期间涉及重大诉讼可能影响本协议履行；</p>
		<p>9.1.5 未经甲方许可擅自使用商标和标识，或超越许可范围使用商标和标识；</p>
		<p>9.1.6 损害甲方的名誉；</p>
		<p>9.1.7 未经甲方事先书面同意擅自全部或部分转让本协议项下的权利义务；</p>
		<p>9.1.8 发现乙方所推荐的标的资产项目存在违法情形或存在重大瑕疵；</p>
		<p>9.1.9 因主要资产被查封、扣押、冻结、拍卖、破产清算、被吊销营业执照等原因终止营业或其他原因致使乙方无法继续经营或经营状况严重恶化；</p>
		<p>9.1.10 违反法律、法规规定或本协议约定的其他义务。</p>
		<p>&nbsp;</p>
		<p>9.2 本协议提前解除的，若有双方合作的金融资产交易项目尚未完成的，已在甲方平台交易的，须完成该项业务并根据本协议履行各自的权利义务或甲乙双方另行协商解决；尚未在甲方平台交易的，则该项业务立即终止，否则甲方无需承担任何责任。</p>
		<p>9.3 协议解除后，对已经完成的合作项目，若有后续的权利或义务的，双方仍需履行，双方另有约定的除外；</p>
		<p>9.4  本协议解除后，甲方授予乙方的所有权利全部收回，乙方应立即停止使用商标、标识及其他甲方的一切资源。</p>
		<p>9.5 如本协议解除，乙方应当在本协议终止之日起10日内返还甲方为履行本协议而提供的所有文件及材料，包括但不限于空白合同正本及复印件。</p>
		<p>9.6 本协议终止后，乙方不得使用与甲方相同或相类似的标识，使公众产生混淆。</p>
		
		<h2>第十章 违约责任</h2>
		<p>10.1 任何一方向对方提供的资产信息、客户信息有误、未经对方许可泄露，包括但不限于客户的商业信息，导致合同相对方损失的，提供方、泄露方须向合同相对方承担赔偿责任；</p>
		<p>10.2 若因甲方过错造成无法签约，导致乙方损失的，甲方向乙方承担赔偿责任；</p>
		<p>10.3 乙方在签订和履行合同中不配合甲方要求，导致甲方损失的，乙方向甲方承担赔偿责任；</p>
		<p>10.4 乙方未经授权，擅自使用甲方的资源（包括但不限于甲方的客户、甲方的名称、商标及商业信息等），或超出本协议内容甲方授权范围而使用相关资源的，乙方向甲方承担赔偿责任；</p>
		<p>10.5 甲方与乙方合作，因乙方原因导致甲方向投资者等第三人承担任何经济赔偿责任或者违约责任,甲方有权向乙方追偿相应的款项。</p>
		<p>10.6 甲乙双方各自承担合作义务，若任何一方违约而给守约方造成经济损失或名誉的损害，违约方应承担守约方的全部损失，损失包括但不限于律师费、诉讼费、取证费、鉴定费、交通费等开支；</p>
		<p>10.7 乙方推荐的标的资产出现违约还款或者未按时回购债权,甲方有权代表投资者要求乙方提前收回投资款或者要求乙方对投资款承担连带责任。如乙方逾期还款的，每逾期一日，应当向甲方支付日千分之三的违约金。</p>
		<p>10.8 未经甲方或者甲方提供居间推荐服务的相关合作机构书面同意，乙方不得向推广的资金、资产方做出任何有损于甲方或者甲方提供居间推荐服务的相关合作机构合法权益的承诺与陈述或者出具任何书面文件。否则，甲方有权要求乙方赔偿因此所造成的所有损失。</p>


		<h2>第十一章 不可抗力</h2>
		<p>11.1 不可抗力是指不能预见、对其发生和后果不能避免且不能克服的事件。鉴于网络所具有之特殊性质，不可抗力亦包括但不限于下列任何影响甲方网络正常经营之情形：</p>
		<p>11.1.1 黑客攻击、计算机病毒侵入或发作；</p>
		<p>11.1.2 计算机系统遭到破坏、瘫痪或无法正常使用而导致信息或纪录的丢失、甲方不能提供本协议项下之服务；</p>
		<p>11.1.3电信部门技术原因导致重大影响；</p>
		<p>11.1.4 因政府管制而造成的暂时性关闭等;</p>
		<p>11.1.5 其它非甲方或乙方造成的原因等。</p>
		<p>11.2 本协议任一方对其因不可抗力而不能或延迟履行本协议项下任何义务给对方造成的任何损失不承担任何责任。如果发生不可抗力事件，则遭受不可抗力影响的一方应立即以可能的最为快捷的方式通知对方，并在不可抗力事件发生十五天内向对方出具能有效证明该不可抗力事件发生的文件。遭受不可抗力影响的一方应采取积极有效的措施以尽量减少因本协议不能或延迟履行而给对方造成的损失。一方因不可抗力而延迟履行其相关义务的事件应与不可抗力持续的时间相同。</p>
		<p>&nbsp;</p>
		

		<h2>第十二章  其他</h2>
		<p>12.1 双方理解并且同意，协议双方均为独立签约人。本协议不包含任何可能理解成为双方之间设立一种合伙或合资关系的内容。</p>
		<p>12.2 任何本协议要求或允许的通知应以书面方式并应通过电子邮件或邮寄、传真方式按协议载明的联系方式送达对方。电子邮件和传真以发出之日为送达，其他方式以收到之日为送达。</p>
		<p class="unindent">甲方</p>
		<p class="unindent">联系人：${partyaLinkman!}</p>
		<p class="unindent">电子邮件：${partyaEmail!}</p>
		<p class="unindent">联系地址：${partyaLinkAddress!}</p>
		<p class="unindent">电话：${partyaPhone!}</p>
		<p class="unindent">传真：</p>
		<p>&nbsp;</p>
		<p class="unindent">乙方</p>
		<p class="unindent">联系人：${partybLinkman!}</p>
		<p class="unindent">电子邮件：${partybEmail!}</p>
		<p class="unindent">联系地址：${partybAddress!}</p>
		<p class="unindent">传真：</p>
		<p>&nbsp;</p>
		<p>12.3 本协议在履行过程中如有未尽事宜，或因业务发展需要对本协议现有内容进行补充、变更、修改时，由双方或任何一方提出补充、变更、修改的建议和方案，经双方协商并达成统一意见后，以书面形式表达并经双方同意并盖章后，成为本协议的补充文件，与本协议具有同等法律效力。</p>
		<p>12.4 本协议任何部分被视作无效或不可执行，将不会因此而影响本协议其它条款或部分的有效性与可执行性。</p>
		<p>12.5 本协议的内容与双方另行约定的内容不一致的，以另行约定内容为准。</p>
		<p>12.6 本协议的订立、效力、解释、履行和争议的解决均适用中华人民共和国法律。因本协议所产生的以及因履行本协议而产生的任何争议，双方均应本着友好协商的原则加以解决。协商解决未果，任何一方有权向甲方所在地人民法院提请诉讼。</p>
		<p>12.7本协议自各方盖章或加盖电子签章生成后生效，本协议电子版本具有同等法律效力。</p>
		
		<h4>本协议附件：</h4>
		<p>附件一：乙方企业营业执照、税务登记证、组织机构代码证等。</p>
		<!-- <p>附件二：费用确认表</p> -->
		<p>&nbsp;</p>
		<p>[以下无正文]</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>以下为签字页</p>
		<p class="both-sign">
			<span>甲方：（签章）<span style="color:white;">平台签章处</span></span><span>乙方：（签章）<span style="color:white;">见证方签章处</span></span>
		</p>
		<p class="both-sign">
			<span>授权代表：</span><span>授权代表：</span>
		</p>
	</div>
</body>
</html>